# MongoDB Connection String
MONGODB_URI=mongodb://arya:1234@ac-suk9pip-shard-00-00.rqnmjyz.mongodb.net:27017,ac-suk9pip-shard-00-01.rqnmjyz.mongodb.net:27017,ac-suk9pip-shard-00-02.rqnmjyz.mongodb.net:27017/?ssl=true&replicaSet=atlas-1fx00j-shard-0&authSource=admin&appName=Cluster1

# JWT Secret
JWT_SECRET=h3ll0_w0rld_StUdY_C0nn3ct_2026_!@#$%^&*

# Email Config (Optional for demo, but required for real emails)
EMAIL_USER=aryakaslikar31@gmail.com
EMAIL_PASS=cckismsmincmvqua
